*, *:after, *:before { box-sizing: border-box; }
a:link 		{ color: #E09990;}
a:visited	{ color: #C09990;}
a:active	{ color: #F0DDDD;}
a:hover		{ color: #F0DDDD;}

body {
	min-height: 100vh;

	color: #D0D0D0;
	background-color: #300900;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	align-items: center;

	padding: 0px;
	border: 0px;
	margin: 0px;
	font-family:"メイリオ","Meiryo",Osaka, "ヒラギノ角ゴ Pro W3", Arial, Helvetica, sans-serif;
	font-size: 1.0rem;
	line-height: 1.2rem;
}

#wrapper{
	background-color: #000000;
	min-width: 400px;
	max-width: 800px;
	text-align: left;
	position: relative;
	padding: 0px 0px 0px 0px;
	border: 0px;
	margin: 0 auto;
}

/* ヘッダ/フッタ ////////////////////////////////////////////////// */

header{
	background-color : #000000;
	display: flex;
	flex-direction: column;
	width: 100%;
}

footer
{
	background-color: #000000;
	padding: 1rem 1rem;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

footer > section
{
	font-size: 70%;
	line-height: 100%;
}


/* タイトル系統 ////////////////////////////////////////////////// */

section#title
{
	width: 60vw;
	max-width: 50rem;
	min-height: 4rem;
	max-height: 8rem;
	margin-right : auto;
	margin-left  : auto;

	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: flex-end;
}

img#hengTitle
{
	width: auto;
	height: 12vh;
	min-height: 4rem;
	max-height: 8rem;
}

img.tama4
{
	height: 10vh;
	min-height: 4rem;
	max-height: 8rem;
}

img.tama3
{
	height: 5vh;
	min-height: 2rem;
	max-height: 4rem;
}

img.tama2
{
	height: 2.5vh;
	min-height: 1rem;
	max-height: 2rem;
}

img.tama1
{
	height: 1.25vh;
	min-height: 0.5rem;
	max-height: 1rem;
}



/* メインメニュー系統 ////////////////////////////////////////////////// */

section#mainMenu
{
	margin-right : auto;
	margin-left  : auto;
	background-color: #000000;

	justify-content: center;
	align-content: center;
	display: flex;
}

section#mainMenu > a {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
	background: #302010;
	color: #FFFFFF;
	border-radius: 0.3vw;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
	font-weight: bold;
	border: solid 2px #d27d00;/*線色*/
}

section#mainMenu > span {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #908080;
	background: #442200;
	border-radius: 0.3vw;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
	font-weight: bold;
	border: solid 2px #d27d00;/*線色*/
}

section#mainMenu > a:hover
{
	background: #A06535;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


/* 本文系統 ////////////////////////////////////////////////// */

div#main
{
	font-size: 0.85rem;
	line-height: 1.25rem;
	width: 70%;
	max-width: 50rem;

	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.paragraph > p
{
	margin: 1rem 1.5rem;
	padding: 0.2rem 0.2rem;
}

li > p
{
	margin: 0rem;;
	padding: 0.2rem 0.2rem;
}

.ulist
{
	margin: 0.1rem 0.1rem;
	padding: 0.1rem 0.1rem;
}

.content
{
	padding: 0.5rem;
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	align-content: space-around;
	align-items: center;
}

.update{
	text-align: center;
	padding: 6px;
	margin:  30px 5px;
}

ul{
	border: 0px;
	margin: 0px 1.6rem;
	padding: 0px;
}

li{
	margin: 0px 1.0rem;
	padding: 0px;
}

.image {
	text-align: center;
	padding: 10px;
}

h2{
	padding: 1.1rem;
	margin: 1.5rem 0 0.7rem 0;
	border: 0.5rem #775540 solid;
	background-color: #000000;
	border-radius: 0.8rem;
}

h3{
	padding: 0.7rem;
	margin: 0.6rem;
	border: 0.3rem #554433 solid;
	border-radius: 0.9rem;
	background-color: #100800;
}

h4{
	padding: 0.5rem;
	margin: 0.5rem 1.0rem;
	border: 0.2rem #332010 solid;
	border-radius: 1.0rem;
	background-color: #201000;
}

.strong
{
	font-weight: bold;
}

.line-through
{
	text-decoration: line-through;
}


/* common footer */

.footer_banner
{
	float: right;
}


.topimage
{
	border: 3px #554433 solid;
	text-align: center;
}

pre {
	width: 100%;
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: #000000;
	padding: 1rem;
	margin: 0.2rem;
	font-family: ＭＳ 明朝, monospace;
}

.button {
	text-decoration: none;
	border-radius: 0.2rem;
	margin: 0.2rem 0.2rem 0.4rem 0.2rem;
	height: auto;
	min-height: 4.6rem;
	max-height: 6.5rem;
	padding: 0.0rem 0.15rem;
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	text-shadow: 0.1rem 0.1rem 0.1rem #FFFFFF, -0.1rem 0.1rem 0.1rem #FFFFFF, 0.1rem -0.1rem 0.1rem #FFFFFF, -0.1rem -0.1rem 0.1rem #FFFFFF;
	justify-content: space-around;
	align-items: center;
	color: #000000;
	border-top: solid 0.40rem #AF874D;
	border-left: solid 0.40rem #AF874D;
	border-right: solid 0.40rem #905020;
	border-bottom: solid 0.40rem #905020;
	background: -moz-linear-gradient(80% 28% 275deg, #FFF2E0, #FFFFFF 55%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 244, 223, 0.8)));
	box-shadow: 0.4rem 0.4rem 0.15rem rgba(0, 0, 0, 0.9), 0.02rem 0.1rem 2.2rem rgba(255, 255, 255, 0.4);
}

.button > img
{
	width: auto;
	max-height: 4.0rem;
}

.button > span
{
	font-size: 200%;
	color: #000000;
}

/* スコア系統 ////////////////////////////////////////////////// */

.scorelinks {
	display: flex;
	margin: 1rem;
	padding: 1rem;
}

